html, body, svg {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
line {
  stroke: #999;
}
line.pending {
  stroke-dasharray: 2, 3;
}
circle {
  fill: #999;
}
circle.sun {
  fill: #f8981d;
}
circle.moon {
  fill: #1aa3dd;
}
circle.both {
  fill: url("#both");
}